In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from faker import Faker
from faker.providers import DynamicProvider

In [2]:
df = pd.read_excel("data_sales.xlsx")
df.head()

,perusahaan,alamat,telepon,email,sektor_usaha,topik,status,presentase,group/retail,estimasi bulan,trainer,total pertemuan,jumlah peserta,pembayaran
0,Tribakti Inspektama,Jl. Pantai Indah Selatan\nRuko Elang Laut Boul...,(+6221) 2251 0022,marketing@tribhakti.com,pertambangan,"How to Recruit, interview, select&place the ri...",Closing,100,Retail,Januari,IM,7,1,2450000
1,Bank Bukopin Syariah,Jl. Salemba Raya No. 55 Jakarta Pusat 10440,+6221 2300912,corsec@kbbukopinsyariah.com,perbankan,Powerful Database Analysis & Dashboard Reporti...,Closing,100,Retail,Januari,External,8,6,16800000
2,Bank Bukopin Syariah,Jl. Salemba Raya No. 55 Jakarta Pusat 10440,+6221 2300912,corsec@kbbukopinsyariah.com,perbankan,"How to Recruit, interview, select&place the ri...",Closing,100,Retail,Januari,IM,7,1,2450000
3,Kementrian Agama,Jalan Lapangan Banteng Barat No. 3-4 Jakarta P...,NaN,NaN,agama,"How to Recruit, interview, select&place the ri...",Closing,100,Retail,Januari,IM,7,3,5250000
4,M3kom,"Jl. Perintis Kemerdekaan, Perkantoran Pulomas ...",+62 21 4786 7933,NaN,marketing communication,"How to Recruit, interview, select&place the ri...",Closing,100,Retail,Januari,IM,7,1,1000000

In [3]:
df["perusahaan"].duplicated().sum()

211

In [4]:
df[df["perusahaan"].duplicated()]

,perusahaan,alamat,telepon,email,sektor_usaha,topik,status,presentase,group/retail,estimasi bulan,trainer,total pertemuan,jumlah peserta,pembayaran
2,Bank Bukopin Syariah,Jl. Salemba Raya No. 55 Jakarta Pusat 10440,+6221 2300912,corsec@kbbukopinsyariah.com,perbankan,"How to Recruit, interview, select&place the ri...",Closing,100,Retail,Januari,IM,7,1,2450000
19,Indowire Prima Industrindo,NaN,NaN,NaN,NaN,Digital Marketing untuk B2B,Closing,100,Retail,Februari,Ext,4,15,30000000
22,MPM Finance,NaN,NaN,NaN,NaN,Content E-Learning (3 content),Closing,100,Group,Februari,Ext,3,xx,30000000
35,Bank BTN,NaN,NaN,NaN,NaN,Collection Strategy for Commercial,Closing,100,Group,Semester 1,BN/DP,12,30,25000000
36,Bank BTN,NaN,NaN,NaN,NaN,Penjualan Aset Kredit Macet Di Era Vaksinasi C...,Closing,100,Group,Semester 1,BN/DP,12,30,25000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
276,BPD Kaltim,NaN,NaN,NaN,NaN,ODP,Closing,100,Group,Februari,BN/AL/ External,8,25,50000000
277,Bank Syariah Patriot,NaN,NaN,NaN,NaN,Collection & Money Laundring,Closing,100,Group,Januari,BN/DP,8,30,50000000
278,Kospin Jasa,NaN,NaN,NaN,NaN,Safety Driving,Closing,100,Group,Januari,External,8,78,20000000
279,Surveyor Indonesia,NaN,NaN,NaN,NaN,PPP,Closing,100,Group,Maret,HH,8,25,45000000
280,BPRS Rahma Syariah,NaN,NaN,NaN,NaN,Graphology & Graphonomi,Closing,100,Group,Februari,DP,4,15,20000000

In [5]:
df[df["topik"].duplicated()]

,perusahaan,alamat,telepon,email,sektor_usaha,topik,status,presentase,group/retail,estimasi bulan,trainer,total pertemuan,jumlah peserta,pembayaran
2,Bank Bukopin Syariah,Jl. Salemba Raya No. 55 Jakarta Pusat 10440,+6221 2300912,corsec@kbbukopinsyariah.com,perbankan,"How to Recruit, interview, select&place the ri...",Closing,100,Retail,Januari,IM,7,1,2450000
3,Kementrian Agama,Jalan Lapangan Banteng Barat No. 3-4 Jakarta P...,NaN,NaN,agama,"How to Recruit, interview, select&place the ri...",Closing,100,Retail,Januari,IM,7,3,5250000
4,M3kom,"Jl. Perintis Kemerdekaan, Perkantoran Pulomas ...",+62 21 4786 7933,NaN,marketing communication,"How to Recruit, interview, select&place the ri...",Closing,100,Retail,Januari,IM,7,1,1000000
5,Artha Asia Finance,"Kencana Tower 5 & 6 Floor, Business Park Kebon...",+62-21 58908189,ccu@asiaf.co.id,"Pembiayaan Investasi, Pembiayaan Modal Kerja d...","How to Recruit, interview, select&place the ri...",Closing,100,Retail,Januari,IM,7,2,1400000
48,BPRS Amanah Ummah,NaN,NaN,NaN,NaN,Motivasi,Closing,100,Group,Q 1 - 2021,BN/AL/IM,4,25,25000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
276,BPD Kaltim,NaN,NaN,NaN,NaN,ODP,Closing,100,Group,Februari,BN/AL/ External,8,25,50000000
277,Bank Syariah Patriot,NaN,NaN,NaN,NaN,Collection & Money Laundring,Closing,100,Group,Januari,BN/DP,8,30,50000000
278,Kospin Jasa,NaN,NaN,NaN,NaN,Safety Driving,Closing,100,Group,Januari,External,8,78,20000000
279,Surveyor Indonesia,NaN,NaN,NaN,NaN,PPP,Closing,100,Group,Maret,HH,8,25,45000000
280,BPRS Rahma Syariah,NaN,NaN,NaN,NaN,Graphology & Graphonomi,Closing,100,Group,Februari,DP,4,15,20000000

In [6]:
df.duplicated().sum()

144

In [7]:
df.shape

(281, 14)

In [8]:
df["trainer"].value_counts()

trainer
Ext                           63
AL                            34
BN/AL/IM                      32
AL/BN/IM                      20
BN/DP                         16
HH                            13
NT                            12
External                       9
FD/DP                          8
DP,BN                          8
BN//AL/IM                      8
IM                             5
AL, Ext, BN/IM                 4
AL & BN                        4
DP                             4
Ext & BN                       4
BN/AL                          4
BN/AL/ External                4
BN/AL/IM/ ext                  4
Ext, BN, AL                    4
AL/BN                          4
Ext/AL                         4
DP/BN                          3
RL,SH                          3
BN                             2
Extrnal (Martoyo)              1
Extrnal (Martoyo & Nanang)     1
BW                             1
DP,BN & AL                     1
AA                             1
Name: count, dtype: int64

In [9]:
trainer = df["trainer"].values.tolist()
trainerr = set(trainer)
trainer2 = [[i, trainer.count(i)] for i in trainerr]
trainer2.sort(key=lambda x:x[1], reverse=True)
choice = [i[0] for i in trainer2]
trainer = [i for i in df["trainer"]] + [np.random.choice(choice, p=[0.3, 0.2, 0.2, 0.1, 0.1] + ([0.1/25] * 25)) for i in range(5000-len(df))]
trainer = pd.Series(trainer)
print(trainer.value_counts())

Ext                           1463
BN/AL/IM                       999
AL                             986
BN/DP                          491
AL/BN/IM                       466
HH                              37
NT                              34
AL & BN                         31
External                        30
DP/BN                           29
DP                              26
BN/AL/ External                 26
BN//AL/IM                       26
Ext & BN                        26
AL, Ext, BN/IM                  26
DP,BN & AL                      26
Ext, BN, AL                     26
RL,SH                           26
BN                              25
DP,BN                           24
Ext/AL                          24
FD/DP                           24
BW                              20
AL/BN                           20
AA                              18
BN/AL                           16
BN/AL/IM/ ext                   16
Extrnal (Martoyo & Nanang)      15
Extrnal (Martoyo)               13
IM                              11
Name: count, dtype: int64

In [10]:
def company_id(num_row):
    list_id = []

    for i in range(num_row):
        num = i + 1
        id = 'P' + '{:04d}'.format(num)
        np.array(list_id.append(id))

    return list_id

def product_id(num_row):
    list_id = []

    for i in range(num_row):
        num = i + 1
        id = 'B' + '{:04d}'.format(num)
        np.array(list_id.append(id))

    return list_id

company_ID = company_id(5000)
training_ID = product_id(5000)

In [11]:
fake = Faker("id_ID")

company = [i for i in df["perusahaan"]] + [fake.company() for i in range(5000 - len(df))]
alamat = [fake.address() for i in range(5000)]
telepon = [fake.phone_number() for i in range(5000)]
email = [fake.email() for i in range(5000)]
topik = [i for i in df["topik"]]
pic = [fake.name() for i in range(5000)]
sector = DynamicProvider(
    provider_name="sector",
    elements=["Pertanian, Kehutanan dan Perikanan", "Pertambangan dan Penggalian", "Industri Pengolahan", 
              "Pengadaan Listrik, Gas, Uap/Air Panas Dan Udara Dingin", "Treatment Air, Treatment Air Limbah, Treatment dan Pemulihan Material Sampah, dan Aktivitas Remediasi", 
              "Konstruksi", "Perdagangan Besar Dan Eceran; Reparasi Dan Perawatan Mobil Dan Sepeda Motor", "Pengangkutan dan Pergudangan",
              "IPenyediaan Akomodasi Dan Penyediaan Makan Minum", "Informasi Dan Komunikasi", "Aktivitas Keuangan dan Asuransi",
              "Real Estat", "Aktivitas Profesional, Ilmiah Dan Teknis", "Aktivitas Penyewaan dan Sewa Guna Usaha Tanpa Hak Opsi, Ketenagakerjaan, Agen Perjalanan dan Penunjang Usaha Lainnya",
              "Administrasi Pemerintahan, Pertahanan Dan Jaminan Sosial Wajib", "Pendidikan", "Aktivitas Kesehatan Manusia Dan Aktivitas Sosial",
              "Kesenian, Hiburan Dan Rekreasi", "Aktivitas Jasa Lainnya", "Aktivitas Rumah Tangga Sebagai Pemberi Kerja; Aktivitas Yang Menghasilkan Barang Dan Jasa Oleh Rumah Tangga yang Digunakan untuk Memenuhi Kebutuhan Sendiri",
              "Aktivitas Badan Internasional Dan Badan Ekstra Internasional Lainnya"
]
)
group = DynamicProvider(
    provider_name="group_retail",
    elements=["group", "retail"]
)
fake.add_provider(sector)
fake.add_provider(group)

sectors = [fake.sector() for i in range(5000)]
groups = [fake.group_retail() for i in range(5000)]

df2 = pd.DataFrame()
df2["company_ID"] = company_ID
df2["company_name"] = company
df2["company_pic"] = pic
df2["company_address"] = alamat
df2["company_phone"] = telepon
df2["company_email"] = email
df2["company_field"] = sectors
df2["transaction_date"] = pd.date_range("20200101", periods=5000)
df2["training_ID"] = training_ID
df2.head()

,company_ID,company_name,company_pic,company_address,company_phone,company_email,company_field,transaction_date,training_ID
0,P0001,Tribakti Inspektama,Lasmanto Pratiwi,"Jalan Cihampelas No. 282\nPontianak, Kalimanta...",+62 (183) 655 1415,muhammadnasyidah@example.org,Aktivitas Keuangan dan Asuransi,2020-01-01,B0001
1,P0002,Bank Bukopin Syariah,Puti Gina Napitupulu,"Jalan Tubagus Ismail No. 02\nSukabumi, BB 74318",(097) 773 7113,januarkamaria@example.net,Aktivitas Badan Internasional Dan Badan Ekstra...,2020-01-02,B0002
2,P0003,Bank Bukopin Syariah,"Karna Purwanti, S.I.Kom","Gg. Pelajar Pejuang No. 660\nJambi, Jambi 60449",+62 (0801) 007-5669,rprasetyo@example.net,"Pengadaan Listrik, Gas, Uap/Air Panas Dan Udar...",2020-01-03,B0003
3,P0004,Kementrian Agama,Tania Yolanda,"Jl. Cihampelas No. 8\nTual, ST 59647",+62-0247-253-2150,iswahyudiraisa@example.net,Konstruksi,2020-01-04,B0004
4,P0005,M3kom,Zaenab Anggriawan,"Gang Moch. Ramdan No. 083\nPayakumbuh, SS 13214",(025) 406 2520,mulyono67@example.com,Informasi Dan Komunikasi,2020-01-05,B0005

In [12]:
df2.to_csv("profilling.csv")